{{ 'custom-card-list.css' | asset_url | stylesheet_tag }}


{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "contain": true,
  "cellAlign": "left",
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

<div class="featured-collection-slider page-width">
    {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
    {% endif %}
     
    {%- assign collection = collections[section.settings.feature-collection] -%}
    {%- assign product_limit = section.settings.product_count -%}
     
        <div class="products-carousel js-flickity" data-flickity='{{ flickity_options }}'>
          {% for product in collection.products limit: product_limit %}
            <div class="carousel-cell">
                <!-- content card-->
              <div  class="custom-card">
                <div class="wrap-img">
                    <img  class="img-card" src="{{product.featured_media.preview_image | img_url: 'large'}}"/>
                    <div class="text-button">add to card</div>
                    <div class="icon-group">
                       <div>
                        <a class="child-icon" href="#">
                            <i class="fa-regular fa-heart"></i>
                        </a>
                       </div>
                        <a class="child-icon" href="#">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </div>
                </div>
                <div class="wrap-content">
                    <div class="tags">
                        {{product.tags}}
                    </div>
                    <div style="font-size:14px; "><a href="{{product.url}}" class="custom-a">{{product.title}}</a></div>
                <div style="font-size:18px; font-weight:600;color:#fb5f1f">Rs. {{product.price}}</div>
                <div style="display: flex; text-align: center; justify-content: center;">
                    <div style="margin:5px;height: 32px;width:32px;border-radius:16px; display:flex; justify-content:center; align-items:center;border:1px solid #000">
                        <div style="background:#000;width: 26px;height:26px; border-radius:13px;color:transparent;">T</div>
                    </div>
                    <div style="margin:5px;height: 32px;width:32px;border-radius:16px; display:flex; justify-content:center; align-items:center;border:1px solid #000">
                        <div style="width: 26px;height:26px; border-radius:13px;color:transparent;background: #fb5f1f;">T</div>
                    </div>
                    <a href="#" style="margin:5px;height: 32px;width:32px;border-radius:16px; display:flex; justify-content:center; align-items:center;border:1px solid #000; text-decoration: none;">
                        <div style="background:white;width: 26px;height:26px; border-radius:13px;color:transparent;">T</div>
                    </a>
                </div>
                </div>
            </div>
             <!-- end content -->
          </div>  
        {% endfor %}
        </div>
</div>

    <style>
        .featured-collection-slider{
          padding-left: 55px;
          padding-right: 55px;
          max-width: 1200px;
          margin: 0 auto;
        }
        .featured-collection-slider .carousel-cell{
          width:25%;
          padding: 0 15px;
          display: block;
        }
        .flickity-button:disabled{
          pointer-events: all!important;
        }
        @media screen and (max-width: 920px){
          .featured-collection-slider{
            padding-left: 15px;
            padding-right: 15px;
          }
          .featured-collection-slider .carousel-cell{
            width:50%;
          }
        }
        @media screen and (max-width: 767px){
          .featured-collection-slider .carousel-cell{
            width:100%;
          }
        }
        </style>
{% schema %}
{
    "name":"home-carousel",
    "tag":"section",
    "settings":[
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured Collection"
        },
         {
            "type": "collection",
            "id":"feature-collection",
            "label":"Collection"
        },
        {
            "type": "range",
            "id": "product_count",
            "min": 4,
            "max": 12,
            "label": "Number of products to display",
            "default": 4
          }
    ],
    "presets": [
    {
        "name":"Carousel"
    }
   ]
}
{% endschema %}