{{"multicolumn-page.css" | asset_url | stylesheet_tag}}
<div class="container-row-3 container-row page-width">
    <div class="center">
        {% if section.settings.image_1 != blank%}
        <img class="custom-img" src="{{section.settings.image_1}}"/>
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'custom-img' }}
        {% endif %}
        <p class="title">Lorem De Dorus</p>
        <p>
            Cosmo lacus meleifend menean diverra loremous. Nullam sit amet orci rutrum risus laoreet semper vel non magna. Mauris vel sem a lectus vehicula ultricies. Etiam semper sollicitudin lectus indous scelerisque.</p>
        <a>Learn How</a>
    </div>
    <div class="center">
        {% if section.settings.image_1 != blank%}
        <img class="custom-img" src="{{section.settings.image_1}}"/>
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'custom-img' }}
        {% endif %}
        <p class="title">Lorem De Dorus</p>
        <p>
            Cosmo lacus meleifend menean diverra loremous. Nullam sit amet orci rutrum risus laoreet semper vel non magna. Mauris vel sem a lectus vehicula ultricies. Etiam semper sollicitudin lectus indous scelerisque.</p>
        <a>Learn How</a>
    </div>
    <div class="center">
        {% if section.settings.image_1 != blank%}
        <img class="custom-img" src="{{section.settings.image_1}}"/>
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'custom-img' }}
        {% endif %}
        <p class="title">Lorem De Dorus</p>
        <p>
            Cosmo lacus meleifend menean diverra loremous. Nullam sit amet orci rutrum risus laoreet semper vel non magna. Mauris vel sem a lectus vehicula ultricies. Etiam semper sollicitudin lectus indous scelerisque.</p>
        <a>Learn How</a>
    </div>
</div>
{% schema %}
{
    "name":"multicolumn page",
    "tag":"section",
   "settings": [
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "select_img_1"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "select_img_2"
        },
        {
            "type": "image_picker",
            "id": "image_3",
            "label": "select_img_3"
        }
   ],
    "presets":[
        {
            "name":"multicolumn page" 
        }
    ]
}
{% endschema %}